<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header"><h4>#<%= @chatroom.name %></h4></div>
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <div class="message-container" id="message-<%= message.id %>">
              <i class="author">
                <span><%= message.user.nickname %></span>
                <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
              <p><%= message.content %></p>
            </div>
          <% end %>
        </div>

        <div id="create-message">
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "type a message in ##{@chatroom.name} channel" %>
            <div class = 'mt-3'>
              <%= f.button :submit, 'Send Message', class: 'btn btn-secondary' %>
            </div>
          <% end %>
        </div>
        <%= link_to 'Back', chatrooms_path %>
    </div>
  </div>
</div>
