<div class="flex-row d-flex justify-content-center">
  <div class="card mt-5">
    <div class="card-body">

      <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :title, placeholder: "Title of you post" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :status, collection: Post::STATUSES, prompt: "Which status?" %>
          </div>
        </div>
        <div class="form-group">
          <input type="hidden" name="post[category_id]" value="">
          <div class="category-choices">

            <% Category.all.each do |category| %>

              <input type="checkbox" class="hidden" style="display:none" value="<%= category.id  %>"
              name="post[category_id]" id="post_category_id_<%= category.id %>">

              <label class="category-choice" for="post_category_id_<%= category.id  %>">
                <%= category.name %>
                <i class="fa fa-check"></i>
              </label>
            <% end %>
          </div>
        </div>

      <!--
        <div class="form-inputs">
          <%= f.select :category, Category.all.map {|c| c.name } %>
        </div>
      !-->

        <div class="form-inputs">
           <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        </div>

        <div class="form-inputs">
          <%= f.rich_text_area :rich_body, placeholder: "Give us the full Gist" %>
        </div>

        <br>
        <div class="form-actions">
          <%= f.button :submit, "save your post", class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
