<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Posts</h1>
  <div class="row">
    <div class="col-md-8">
    <div class="row">


      <% @posts.each do |post| %>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4><%= link_to post.title, post_path(post.id) %></h4>
                </div>
                  <%= cl_image_tag post.owner.avatar.key, class: "avatar" %>
              </div>

              <%= link_to "View", post_path(post.id), class: "btn btn-primary"  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
    <div class="col-md-4">

      <div class="card mt-3">
        <div class="card-header">
          Categories
        </div>

        <div class="card-body">
          <%  @categories.each do |category| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to category.name, posts_path(cate: category.id)   %>
            <span class="badge badge-primary badge-pill"> <%= category.posts.count %> </span>
          </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>

  <% if policy(Post).create? %>
    <%= link_to 'New post', new_post_path %>
  <% end %>
</div>
