<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="text-center">Posts</h1>
  <div class="row">
    <div class="col-md-4">

      <div class="card mt-3">
        <div class="card-header">
          <h3> <%= link_to 'CATEGORIES', categories_path, class: 'btn btn-outline-primary' %></h3>
        </div>

        <div class="card-body">
          <%  @categories.each do |category| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to category.name, posts_path(cate: category.id)   %>
            <span class="badge badge-primary badge-pill"> <%= category.posts.count %> </span>
          </li>
          <% end %>
        </div>
      </div>
      <div class='mt-2'>
        <% if policy(Post).create? %>
          <%= link_to 'Create Your Own Post', new_post_path, class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8">
    <div class="row">


      <% @posts.each do |post| %>
        <div class="col-md-6">
          <div class="card mt-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div>
                  <h4 class='card-title'><%= link_to post.title, post_path(post.id) %></h4>
                </div>
                <% if post.owner.avatar.attached? %>
                  <div>
                    <%= cl_image_tag post.owner.avatar.key, class: "avatar" %>
                  </div>
                <% else %>
                    <%= post.owner.nickname %>
                <% end %>
              </div>

              <%= link_to "View", post_path(post.id), class: "btn btn-primary"  %>
              <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
              <i>
                By <%= post.owner.nickname  %>
              </i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
  <br>

</div>
<%= render "shared/footer" %>
