<div class="main m-4">
  <div class="container">
    <% if current_user.avatar.attached? %>
      <%= cl_image_tag @current_user.avatar.key, width: 300, height: 250, crop: :fill, :quality=>"auto", :fetch_format=>:auto, class: "rounded-circle" %>
    <% end %>

    <h3>Hi <%= current_user.nickname %></h3>
    <div class='text-right'>
      <div class='badge badge-primary text-wrap'>
        <i>You Joined this Platform on <%= current_user.created_at.strftime("%a %b %e at %l:%M%p") %></i>
      </div>
    </div>
    <% if @my_posts.empty? %>
      <p>You haven't created any post yet.................</p>
    <% else %>
        <p>Here are your posts</p>

        <ul class="list-group col-12 col-md-6 col-lg-3">
          <div class="row">
            <% @my_posts.each do |post| %>
              <li class="list-group-item d-flex justify-content-between align-items-center m-1">
                <span>
                  <%=link_to post.title, post_path(post.id) %>
                </span>
              </li>
            <% end %>
          </div>
        </ul>
    <% end %>
  </div>
  <div class='mt-2'>
    <%= link_to "Make changes to your profile", edit_user_registration_path, class: 'btn btn-success' %>
  </div>
  <div class='mt-2'>
    <%= link_to "back", root_path, class: 'btn btn-dark' %>
  </div>
  <br>
  <br>
  <br>
</div>
