<div class="container">
  <p id="notice"><%= notice %></p>

  <p><%@post.categories.each do |category| %></p>
   <h1>Category: <%= category.name %></h1>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @post.rich_body %>
  </p>

  <% @post.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, :quality=>"auto", :fetch_format=>:auto %>
  <% end %>

  <p><%=@post.status %></p>




  <h3>Reviews</h3>
  <% if @post.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <ul class="list-group">
      <% @post.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render "reviews/new", post: @post, review: @review %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', root_path %>
</div>
