<div class="container">
  <p id="notice"><%= notice %></p>

   <h3>Category: <%= @post.category.name %></h3>
  <p>
    <strong>Title:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @post.rich_body %>
  </p>
  <% @post.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 350, crop: :fill, :quality=>"auto", :fetch_format=>:auto, class: 'm-1 text-center' %>
  <% end %>

  <div class='text-right'>
    <div class='badge badge-primary text-wrap'>
      <i><%=@post.status %> and created by <%=@post.owner.nickname %> on <%= @post.owner.created_at.strftime("%a %b %e at %l:%M%p") %> </i>
    </div>
    <div class='m-3'>
    <% unless !user_signed_in? %>
      <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Like', post_likes_path(@post), method: :post %>
      <% end %>
      <p><%= pluralize @post.likes.size, "Like" %></p>
    <% else %>
      <p><%= pluralize @post.likes.size, "Like" %></p>
    <% end %>
    </div>
  </div>

  <h4>Comments</h4>
  <% unless !user_signed_in? %>
    <% pre_comment = @post.comments.find { |comment| comment.user_id == current_user.id} %>
    <% if @post.comments.empty? %>
      <p>Be the first to add a comment</p>
    <% else %>
      <ul class="list-group">
        <% @post.comments.each do |comment| %>
          <li class="list-group-item d-flex align-items-center mt-2">
            <p id="comment-<%= comment.id %>"><%= comment.content %></p>
          </li>
          <small>by <%= comment.user.nickname  %></small>
        <% end %>
      </ul>
      <% if pre_comment %>
        <%= button_to 'Delete Comment', post_comment_path(@post, pre_comment), method: :delete, remote: true %>
      <% end %>
    <% end %>
  <% else %>
    <ul class="list-group">
      <% @post.comments.each do |comment| %>
        <li class="list-group-item d-flex align-items-center mt-2">
          <p id="comment-<%= comment.id %>"><%= comment.content %></p>
        </li>
        <small>by <%= comment.user.nickname  %></small>
      <% end %>
    </ul>
  <% end %>

  <%= render "comments/new", post: @post, comment: @comment %>

  <h4>Reviews</h4>
  <% unless !user_signed_in? %>
    <% pre_review = @post.reviews.find { |review| review.user_id == current_user.id} %>
    <% if @post.reviews.empty? %>
      <p>Be the first to add a review</p>
    <% else %>
      <ul class="list-group">
        <% @post.reviews.each do |review| %>
          <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
            <span class="badge badge-primary badge-pill">
              <% counter = 0 %>
              <% 5.times do %>
                <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
              <% end %>
            </span>
            <p id="review-<%= review.id %>"><%= review.content %></p>
          </li>
          <small>by <%= review.user.nickname  %></small>
        <% end %>
      </ul>
      <% if pre_review %>
        <%= button_to 'Delete Review', post_review_path(@post, pre_review), method: :delete, remote: true %>
      <% end %>
    <% end %>
  <% else %>
    <ul class="list-group">
      <% @post.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <p id="review-<%= review.id %>"><%= review.content %></p>
        </li>
        <small>by <%= review.user.nickname  %></small>
      <% end %>
    </ul>
  <% end %>

  <small> <%= pluralize @post.reviews.size, "Review" %></small>

  <%= render "reviews/new", post: @post, review: @review %>

<div class='mt-2 mb-2'>
  <% if current_user.try(:admin?) || current_user == @post.owner %>
    <% if policy(@post).edit? %>
      <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-outline-primary" %> |
    <% end %>
    <% if policy(@post).destroy? %>
      <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
    <% end %>
  <% end %>
    <%= link_to 'Back', root_path, class: 'btn btn-secondary' %>
  </div>
</div>
