<div class="container">
  <div class="row">
    <div class="col-md-6">

      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @category.name %>
      </p>

      <% if policy(@category).edit? %>
        <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-outline-primary" %> |
      <% end %>
      <% if policy(@category).destroy? %>
        <%= link_to 'Delete', category_path(@category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
      <% end %>
        <%= link_to 'Back', categories_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>


</div>
